@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');



* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg,
            rgba(71, 27, 27, 0.8),
            rgba(17, 17, 23, 0.7)),
        url(../Kelompok1/assets/image/image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron {
    padding: 90px;
    background-image: url(assets/image/image1.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    font-family: serif;
    font-size: 25px;
    color: white;
}

.jumbotron h1 {
    font-family: serif;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

.jumbotron p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron pre {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

main {
    padding: 20px;
    overflow: auto;
}

.grey {
    background-color: gray;
    color: #070505;
}

nav {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

h2 {
    color: #ffffff;
    text-align: center;
}

h3 {
    color: #ffffff;
}

hr {
    width: 250px;
    border-top: 3px solid rgb(255, 255, 3);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: center;
    padding: 8.5%;
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

.grid img:hover {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    width: 400px;
    align-items: center;
}

.footer {
    padding: 20px;
    color: rgb(7, 1, 1);
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.footer h3 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.footer p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: -15px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

section a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(24, 19, 19);
}

section a:hover {
    font-weight: bold;
}

.profile {
    background-color: darkolivegreen;
    color: rgb(247, 241, 241);
}
.profile h2 {
    color: #000;

}

.profile header {
    text-align: center;
}

.featured-image {
    flex-basis: 30%;
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(12, 8, 8, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    flex-basis: 30%;
    text-align: center;
}

.ol {
    display: inline-block;
    text-align: left;
}

.ul {
    display: inline-block;
    text-align: left;

}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

nav {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: inline;
}

.circular {

    border-radius: 50%;
    width: 100px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    pre {
        font-size: 17px;
    }

    .jumbotron {
        height: 100%;
        font-size: 100%;
    }

}